.row-ma--10 > * 
{
    margin-top: 10px;
}
*[class*="row-ma--"] > *:first-child 
{
    margin-top: 0;
}
.col-ma--10 > *
{
    margin-left: 10px;
}
.col-ma--5 > *
{
    margin-left: 5px;
}
*[class*="col-ma--"] > *:first-child 
{
    margin-left: 0;
}
.ta-r
{
    text-align: right; 
}
.fl
{
    display: flex;   
}
.ai-c
{
    align-items: center;
}
.jc-sb
{
    justify-content: space-between;
}